/* line 1, /Users/benwu/railsbridge/rails-exercise/app/assets/stylesheets/welcome.scss */
.background-img {
  background-image: url("/assets/193Ua509-2-1db88d5b853b7580ce206250b4e59c1a291466d4835f481a58f953f8af1d6758.jpg");
}

/* line 4, /Users/benwu/railsbridge/rails-exercise/app/assets/stylesheets/welcome.scss */
.to_white_text {
  color: white;
  text-shadow: 0px 1px 0px #c0c0c0, 0px 2px 0px #b0b0b0, 0px 3px 0px #a0a0a0, 0px 4px 0px #909090, 0px 5px 10px rgba(0, 0, 0, 0.6);
}
