<%= stylesheet_link_tag 'arithmetic' %>

<div class="jumbotron jumbotron_top text-center background-img">
    <h2 class="to_white_text">Ryan's Learning Website</h2>
    <p class="to_white_text">The first step is always the hardest,If at first you don’t succeed, try, try again</p>
</div>
