<%= stylesheet_link_tag 'arithmetic' %>

<div class="jumbotron jumbotron_top text-center background-img">
    <h2 class="to_white_text">Ryan's Learning Website</h2>
    <p class="to_white_text">Arithmetic page, try, try again</p>
</div>

<div class="panel panel-default padding_left_8">
    <div class="panel-body">
        <!-- this week -->
        <h2>
            <a>Arithmetic</a>
        </h2>
        <div class="merge_auto">
            <input type="checkbox" name="arithmetic" value="add" class="checkbox_size"> <a class="arithmetic_icon">+</a>
            <input type="checkbox" name="arithmetic" value="less" class="checkbox_size"> <a class="arithmetic_icon">-</a>
            <input type="checkbox" name="arithmetic" value="mcl" class="checkbox_size"> <a class="arithmetic_icon">x</a>
            <input type="checkbox" name="arithmetic" value="div" class="checkbox_size"> <a class="arithmetic_icon">รท</a>
        </div>

        <div>
            <input  type="radio" name="lv" value="1" class="checkbox_size" checked> <a class="arithmetic_lv_icon">Easy</a>
            <input  type="radio" name="lv" value="2" class="checkbox_size"> <a class="arithmetic_lv_icon">Normal</a>
            <input  type="radio" name="lv" value="3" class="checkbox_size"> <a class="arithmetic_lv_icon">Haed</a>
            <input  type="radio" name="lv" value="4" class="checkbox_size"> <a class="arithmetic_lv_icon">Very Hard</a>
        </div>
    </div>
</div>
