<h3>圈圈叉叉</h3>
<!-- https://zh.wikipedia.org/wiki/%E4%BA%95%E5%AD%97%E6%A3%8B -->
<hr>
 <table>
    <tr>
        <th>
            <button id="ox1" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
        <th>
            <button id="ox2" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
        <th>
            <button id="ox3" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
    </tr>
    <tr>
        <th>
            <button id="ox4" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
        <th>
            <button id="ox5" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
        <th>
            <button id="ox6" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
    </tr>
    <tr>
        <th>
            <button id="ox7" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
        <th>
            <button id="ox8" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
        <th>
            <button id="ox9" type="button" class='width_150 height_150 ox_btn'></button>
        </th>
    </tr>
</table>
</hr>
<%= javascript_include_tag 'oxo' %>
