<% title = '杭蓋樂隊' %>
<% body = '美國 NPR（全國公共廣播電台）曾經有過評論，說杭蓋樂隊，雖然身處於國語及粵語流行歌曲獨霸天下的環境，但是以其新穎和獨一無二的角度呈現蒙古民間音樂的精華，正在中國音樂界走自己的道路。[2][3]
杭蓋樂隊在早期由五位音樂家組成，其中三位是蒙古族人，而其餘兩位是擅長蒙古樂器的漢族人。[4] 五位音樂家都來自於蒙古民族自治地方或北京。
「杭蓋」這個詞彙出自蒙古語，泛指理想完美的大自然－遼闊的大草原，高山流水，翠綠的樹林，湛藍的天空。[5]領隊伊立奇起初聽到蒙古傳統的喉音唱法便被迷住了，帶著尋找自己蒙古族根源的念頭，回到內蒙古學習這種古老的藝術，然後遇到呼格吉勒圖和巴圖巴根，一起組建杭蓋樂隊。[6]在NPR訪問中，伊立奇說：「我們蒙古族人大多都放棄了傳統的生活方式了⋯⋯在搬到城市後，我們許多人逐漸被當地的文化同化，所以這種傳統的音樂徹底失去它原有的空間。」[2]杭蓋樂隊，用結合傳統蒙古音樂和流行音樂的方式，正是想找回原有的空間。 ' %>

<div class="white_back div_align">
    <div class="row">
    <% for i in 1..20 %>
        <div class="col-sm-4">
           <h4><%= title %></h4>
           <%= body %>
           <hr>
        </div>
    <% end %>
    </div>
</div>
