

<div class="container">
    <div class="jumbotron text-center">
        <h2>Ryan's Learning Website</h2>
        <p>The first step is always the hardest,If at first you don’t succeed, try, try again</p>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
          <p class="text-info">
              Weekly words are organized as follows,Click the button to read more.
          </p>
          <hr>
            <% @words.each do | word |%>
                <div class="col-sm-3">
                    <h2>
                        <%= link_to('Words of week ' + word.times.to_s, welcome_word_url(times: word.times), class: 'btn btn-large btn-primary')  %>
                    </h2>
                </div>
            <% end %>
        </div>
    </div>


</div>
