@import "bootstrap-sprockets";
@import "bootstrap";

@import "select2";
@import "select2-bootstrap";


body,
html {
    // font-family: Arial,Helvetica,sans-serif;
    // color: #626264;
    // height: 100%;
    // background-image: image-url("bird_background.jpg");
    // background-position: 30% 30%;
    // background-position:top right;
    // background-attachment : fixed;
}

.body_yield{
  // margin-top: 10%;
  // margin-left: 15%;
   width: 100%;
}

.white_back{
  background-color: rgba(255,255,255,0.9);
}
.div_align{
  // padding-top: 15px;
  // padding-right: 15px;
  // padding-bottom: 15px;
  // padding-left: 15px;
}

.menu_bar{
  margin-top: 15%;
  margin-left: 2%;
}

.fix{
  position:fixed;
}

//------

.top-bar{
 width:100%;
 height:50px;
 position:fixed;
 top:0px;
 z-index: 5;

 /* CSS3 陰影*/
  // -webkit-box-shadow: 0px 8px 15px #333;
  // -moz-box-shadow: 0px 8px 15px #333;
  // box-shadow: 0px 8px 15px #333;
}

.from-top{
  width:100%;
  position:fixed;
  top:65px;
  z-index: 1;
}

.width_150{
  width:150px;
}
.height_150{
  height:150px;
}
