<div class='menu_bar fix'>
    <div id="btn_a" class='portrait_word'>
      朝 辭 白 帝 彩 雲 間 ，
    </div>

    <div id="btn_b" class='portrait_word'>
      千 里 江 陵 一 日 還 。
    </div>

    <div id="btn_c" class='portrait_word'>
      兩 岸 猿 聲 啼 不 住 ，
    </div>

    <div id="btn_d" class='portrait_word'>
      輕 舟 已 過 萬 重 山 。
    </div>
</div>
