<div class='menu_bar fix'>
    <div id="btn_a">
      朝 辭 白 帝 彩 雲 間 ，
    </div>

    <div id="btn_b">
      千 里 江 陵 一 日 還 。
    </div>

    <div id="btn_c">
      兩 岸 猿 聲 啼 不 住 ，
    </div>

    <div id="btn_d">
      輕 舟 已 過 萬 重 山 。
    </div>
</div>
