<div class='menu_bar fix portrait_word'>

    <div id="btn_d" class='menu_btn_style'>
      輕 舟 已 過 萬 重 山 。
    </div>

    <div id="btn_c" class='menu_btn_style'>
      兩 岸 猿 聲 啼 不 住 ，
    </div>

    <div id="btn_b" class='menu_btn_style'>
      千 里 江 陵 一 日 還 。
    </div>

    <div id="btn_a" class='menu_btn_style'>
      朝 辭 白 帝 彩 雲 間 ，
    </div>

</div>
